#nav-toggle-button {
	cursor: pointer;
	width: 35px;
	height: 30px;
}

#nav-toggle-button div {
	background-color: #000;
	height: 2px;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

#nav-toggle-button.open div:nth-child(1) {
	transform: translateY(10.5px) rotate(45deg);
}

#nav-toggle-button.open div:nth-child(2) {
	opacity: 0;
}

#nav-toggle-button.open div:nth-child(3) {
	transform: translateY(-10.5px) rotate(-45deg);
}