:root {
  /* Black and White */
  --black: black;
  --white: white;
  /* Gray */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  /* Red */
  --red-50: #faf0f5;
  --red-100: #f5e1ea;
  --red-200: #e6b8ca;
  --red-300: #d490a5;
  --red-400: #b54e61;
  --red-500: #951d20;
  --red-600: #85171a;
  --red-700: #6e0f12;
  --red-800: #590a0c;
  --red-900: #420607;
  /* Orange */
  --orange-50: #fcf8f2;
  --orange-100: #faf2e6;
  --orange-200: #f5dec4;
  --orange-300: #f0c8a3;
  --orange-400: #e39162;
  --orange-500: #d75428;
  --orange-600: #c24621;
  --orange-700: #a13416;
  --orange-800: #80250e;
  --orange-900: #611909;
  /* Copper */
  --copper-50: #fcfaf5;
  --copper-100: #fcf8f0;
  --copper-200: #f5e7d5;
  --copper-300: #f0d7bd;
  --copper-400: #e6b391;
  --copper-500: #da8a67;
  --copper-600: #c47352;
  --copper-700: #a35539;
  --copper-800: #823a24;
  --copper-900: #612514;
  /* Yellow */
  --primary-50: #fefae8;
  --primary-100: #fff4c2;
  --primary-200: #ffe689;
  --primary-300: #ffcc33;
  --primary-400: #fdb912;
  --primary-500: #ec9f06;
  --primary-600: #cc7902;
  --primary-700: #a35405;
  --primary-800: #86420d;
  --primary-900: #723611;
  --primary-950: #431a05;
  /* Green */
  --green-50: #f4f9f7;
  --green-100: #d9eee7;
  --green-200: #b3dccf;
  --green-300: #86c2b2;
  --green-400: #5da493;
  --green-500: #43897a;
  --green-600: #336e61;
  --green-700: #2c5950;
  --green-800: #274842;
  --green-900: #26413c;
  --green-950: #102320;
  /* Blue */
  --blue-50: #ebf2f5;
  --blue-100: #d8e5eb;
  --blue-200: #a3becc;
  --blue-300: #7698ad;
  --blue-400: #315370;
  --blue-500: #0a1c32;
  --blue-600: #08192e;
  --blue-700: #061326;
  --blue-800: #040e1f;
  --blue-900: #020917;
  /* Cadet */
  --cadet-50: #f7fafa;
  --cadet-100: #f5f7f7;
  --cadet-200: #e1ebea;
  --cadet-300: #cedbda;
  --cadet-400: #aec2bf;
  --cadet-500: #8ea8a4;
  --cadet-600: #749690;
  --cadet-700: #507d72;
  --cadet-800: #346656;
  --cadet-900: #1d4d3a;
  /* Indigo */
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  /* Purple */
  --purple-50: #f5f3ff;
  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --purple-800: #5b21b6;
  --purple-900: #4c1d95;
  /* Pink */
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
}

.horizontal-rule {
  height: 1px;
}

.noScroll {
  overflow: hidden;
}

/* Font-face declarations */
@font-face {
  font-family: "SedanRegular";
  src: url("../fonts/sedan/Sedan-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SedanItalic";
  src: url("../fonts/sedan/Sedan-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SedanRegular", Arial, sans-serif;
}

.italicize {
  font-family: "SedanItalic";
}

.font-sedan {
  font-family: "SedanRegular";
}

:where(.wp-site-blocks) > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

a:where(:not(.wp-element-button)) {
  text-decoration: none !important;
}
