// /* Font-face declarations */
// @font-face {
//     font-family: 'SedanRegular';
//     src: url('../fonts/sedan/Sedan-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'SedanItalic';
//     src: url('../fonts/sedan/Sedan-Italic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: 'SedanRegular', Arial, sans-serif;
// }

// .italicize {
//     font-family: 'SedanItalic';
// }

// .font-sedan {
//     font-family: 'SedanRegular';
// }
